@model Usuario
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <style>
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f5f5f5;
        }

        form {
            background: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 320px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            color: #333333;
        }

        input, button {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #cccccc;
            border-radius: 5px;
        }

        button {
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

            button:hover {
                background-color: #45a049;
            }

        .login-title {
            text-align: center;
            margin-bottom: 20px;
            color: #333333;
        }
        
    </style>
</head>
<body>

    <div class="login-container">
        <form method="post" asp-controller="Login" asp-action="IniciarSesion">
            <div class="login-title">
                <h2>Iniciar Sesión</h2>
            </div>
            <label>Email:</label>
            <input asp-for="email" />
            <br />
            <label>Contraseña:</label>
            <input type="password" asp-for="contrasena" id="password-field"/>
            <br />
            <button type="button" id="toggle-password">Mostrar</button>
            <br />
            <br />
            <button type="submit">Submit</button>
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const togglePassword = document.getElementById("toggle-password");
            const passwordField = document.getElementById("password-field");

            togglePassword.addEventListener("click", function () {
                if (passwordField.type === "password") {
                    passwordField.type = "text";
                    togglePassword.textContent = "Ocultar";
                } else {
                    passwordField.type = "password";
                    togglePassword.textContent = "Mostrar";
                }
            });
        });
    </script>

</body>
</html>